<!DOCTYPE html>
<html>
<head>
	<title>Sachin Tendulkar</title>
	<!-- Plugin JS -->
	<script src="assets/plugins/jquery-2.2.1.js"></script>
	<script src="assets/plugins/angular.min.js"></script>
	<script src="assets/plugins/underscore.js"></script>
	<script src='https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js'></script>
	<script src="assets/js/script.js" type=""></script>

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body ng-app='sachin' ng-controller='dataCtrl'>
	<header>
		<span>Sachin Tendulkar</span>
		<nav>
			<ul id="page_load">
				<li>
					<a href="" id="home">Home</a>
				</li>
				<li>
					<a href="" id="table" ng-show="showTable">Table</a>
				</li>
				<li>
					<a href="" id="result">Result</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<div id="home_div">
			<div class="detail_container">
				<span></span>
			</div>
			<div class="show_table_div">
				<span ng-click="showTable = ! showTable">Show Table</span>
			</div>
		</div>
		<div class="ajax_loader" ng-if="showLoader">
			<img src="assets/img/ajax_loader.gif">
		</div>
		<table id="table_container" class="display" cellspacing="0" width="100%" ng-show="showTable">
			<thead>
	            <tr>
					<th>Batting Score</th>
					<th>Wickets</th>
					<th>Runs Conceded</th>
					<th>Catches</th>
					<th>Stumps</th>
					<th>Opposition</th>
					<th>Ground</th>
					<th>Date</th>
					<th>Match Result</th>
					<th>Result Margin</th>
					<th>Toss</th>
					<th>Batting Innings</th>
				</tr>
	        </thead>

			<tbody>
				<tr ng-repeat="data in tableData | limitTo : cellNumber">
					<td>{{data.batting_score}}</td>
					<td>{{data.wickets}}</td>
					<td>{{data.runs_conceded}}</td>
					<td>{{data.catches}}</td>
					<td>{{data.stumps}}</td>
					<td>{{data.opposition}}</td>
					<td>{{data.ground}}</td>
					<td>{{data.date}}</td>
					<td>{{data.match_result}}</td>
					<td>{{data.result_margin}}</td>
					<td>{{data.toss}}</td>
					<td>{{data.batting_innings}}</td>
				</tr>
			</tbody>
		</table>
		<div id="results">
			<div class="results_buttons_div">
				<ul>
					<li ng-repeat="btn in resultButtons" ng-click="populateResults($index)">{{btn}}</li>
				</ul>
			</div>
			<div class="results_textbox">
				<input type="text" name="name" value="" ng-model="result_input">
				<span>/ 463 results</span>
			</div>
			<div class="about_sachin">
				<ul>
					<li ng-repeat="record in recordData">
						<label>{{record.key}}</label>
						<span>{{record.value}}</span>
					</li>
				</ul>
			</div>
		</div>
	</main>
	<footer>

	</footer>
</body>
</html>
